<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar <a class="get-code" data-toggle="collapse" href="#pgr3" aria-expanded="true"></a></h4>
        <div class="progress m-t-20">
          <div class="progress-bar bg-primary progress-bar-striped active"
               style="height: 5px;"
               [style.width]="getPercentOne"
               role="progressbar">
          </div>
        </div>

        <div class="progress m-t-20">
          <div class="progress-bar bg-info progress-bar-striped active"
               style="height: 5px;"
               [style.width]="getPercentTwo"
               role="progressbar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increase (value)="progressOne = $event"
                      [value]="progressOne"></app-increase>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increase (value)="progressTwo = $event"
                      [value]="progressTwo"
                      [btnClass]="'btn-info'"></app-increase>
      </div>
    </div>
  </div>
</div>
